<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Anka</title>
        <meta charset="UTF-8"/>

    </head>
    <body class="body-color">

        <header th:replace="~{layout/plantilla :: header}"/>






        <section th:fragment="MainHeader">
            <div class="main-header-back-bisuteria d-flex flex-column justify-content-end px-4 m-1">



                <div>
                    <p class="mini-box text-white" style="text-align: center">ANKA Collection</p>
                </div>
                <div class="">
                    <p class="text-white font ">PRODUCTOS</p>
                    <p class="text-white" style="padding-left: 9px; font-size: 20px">Los productos de nuestra tienda </p>

                </div>

            </div>
        </section>
        
        

        <section th:fragment="carrito" class="mb-4">
            <div class="row row-cols-3 p-4 justify-content-center">
                <div th:each="p : ${productos}" 
                     class="card m-4 " style="width: 20rem;">

                    <div class="d-flex align-items-center px-2 m-1">

                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" th:attr="data-nombre=${p.descripcion}, data-imagen=${p.rutaImagen}, data-descripcion=${p.detalle}">
                            <img class="card-img-custom my-2" th:src="${p.rutaImagen}" alt="imageBisuteria"></img>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">    
                                        <p>
                                            <img class="card-img-modal" id="modal-image" alt="" style="display: block; margin: 0 auto;"></img>
                                        </p>
                                        <p id="modal-body-descripcion" style="text-align: center"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="font-card p-3">[[${p.descripcion}]]</p>
                    </div>
                    <div class="card-body font-card">
                    </div>
                    <div class="card-footer font-card bg-transparent">
                        <p>$ [[${p.precio}]]</p>

                        <a th:href="@{/compra/listado}" class="btn btn-color my-3">Añadir al carrito</a>

                        <button type="button" class="btn btn-color my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" th:attr="data-nombre=${p.descripcion}, data-imagen=${p.rutaImagen}, data-descripcion=${p.detalle}">
                            Ver más
                        </button>
                    </div>
                </div>
                

            </div>
        </section>

        <section th:fragment="searchBar" class="my-3">
            <div class="row justify-content-center">
                <div class="search-custom d-flex align-items-center" >
                    <form th:action="@{/search/query}" method="post">
                        <input class="search-color" type="text" placeholder="Search.." name="search" th:value="${nombreInf}"
                               th:name="nombreInf"/>
                    </form>
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </section>




        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>