
<!DOCTYPE html>

<!-- Nuestra pagina index.html de templates-->

<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
            
            
            
        
        
        Hola [[${mensaje}]]
        Su edad es [[${edad}]]
        
         <footer th:replace="~{layout/plantilla :: footer}"/>
            
            
            
        


    </body>
</html>
