<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Anka</title>
        <meta charset="UTF-8"/>

    </head>
    <body class="body-color">

        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{layout/plantilla :: banner}"/>
        <section th:replace="~{layout/plantilla :: searchBar}"/>
        
        <section th:replace="~{ceramica/fragmentos :: carrito}"/>
        <section th:replace="~{bisuteria/fragmentos :: carrito}"/>
        <section th:replace="~{arte/fragmentos :: carrito}"/>




        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>