<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>Anka</title>
        <meta charset="UTF-8"/>

    </head>
    <body class="body-color">

        <header th:replace="~{layout/plantilla :: header}"/>
        
      
            
            
            
            
        <section th:fragment="MainHeader">
            <div class="main-header-back-bisuteria d-flex flex-column justify-content-end px-4 m-1">



                <div>
                    <p class="mini-box text-white">ANKA Collection</p>
                </div>
                <div class="">
                    <p class="text-white font ">BISUTERÍA</p>
                    <p class="text-white" style="padding-left: 9px; font-size: 15px"> Una colección perfecta para los amantes del buen estilo y elegancia </p>

                </div>

            </div>
        </section>            
        <section th:fragment="carrito" class="mb-4">
            <div class="row row-cols-3 p-4 justify-content-center">
                <div th:each="p : ${bisuterias}" 
                     class="card m-4 " style="width: 20rem;">

                    <div class="d-flex align-items-center px-2 m-1">

                        <img class="card-img-custom my-2" th:src="${p.rutaImagen}" alt="imageBisuteria"></img>

                        <p class="font-card p-3">[[${p.nombre}]]</p>


                    </div>
                    <div class="card-body font-card">

                        <p> [[${p.descripcion}]]</p>



                    </div>

                    <div class="card-footer font-card bg-transparent">
                        <p>$ [[${p.precio}]]</p>

                        <a th:href="@{/compra/listado}" class="btn btn-color my-3">Añadir al carrito</a>
                    </div>





                </div>

            </div>
        </section>

      

  
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
        
    </body>
</html>