<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>Anka</title>
        <meta charset="UTF-8"/>

    </head>
    <body class="body-color">

        <header th:replace="~{layout/plantilla :: header}"/>

             <section th:replace="~{bisuteria/fragmentos :: MainHeader}"/>
                
                <h1 class="catalogo">Nuestro Catálogo</h1>
        
         <section th:replace="~{bisuteria/fragmentos :: carrito}"/>
        
         <footer th:replace="~{layout/plantilla :: footer}"/>
        
    </body>
</html>